<div class="course-container">
  <p class="course-title"><b>Curso:</b> {{course.name}}</p>
  <p class="course-details"><b>Data:</b> {{course.date}}</p>
  <p class="course-details"><b>Vagas em aberto:</b> {{course.numberOfSeats}}</p>



  <label for="nome">Nome: </label>
  <input id="nome" [formControl]="name" type="text">

  <label for="email">Email: </label>
  <input id="email" [formControl]="email" type="text">


  <button id="reservar-button" (click)="reservarVaga()">RESERVAR VAGA</button>
</div>
