.course-container {
  width: 50%;
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
}

input {
  width: 75%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 15px;
}

label{
  margin-top: 10px;
}

.course-title{
  font-size: 25px;
  font-weight: 600;
  color: #575757;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  margin-bottom: 10px;
}

.course-details{
  font-family: "Montserrat", sans-serif;
  color: #6a6561;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
}

button{
  width: 200px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 6%;
  margin-top: 40px;
}
